<section id="contact">

	<div class="overlay"></div>

	<div class="row narrow section-intro with-bottom-sep animate-this">
		<div class="col-twelve">
			<h3>Contact</h3>
			<h1>Get In Touch.</h1>

			<p class="lead">For any enquiries, please fill out the form below or contact me via mobile or email.</p>
		</div> 
	</div> <!-- end section-intro -->

	<div class="row contact-content">

		<div class="col-seven tab-full animate-this">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d827.4289434864515!2d18.47272822919687!3d-33.94843769878968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5d1fb40fe3cb%3A0xba7de2ff91e423ef!2sContinental+Hair+Stylists!5e0!3m2!1sen!2sza!4v1506523889879" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

		</div> <!-- end col-seven --> 

		<div class="col-four tab-full contact-info end animate-this">

			<h5>Contact Information</h5>

			<div class="cinfo">
				<h6>Where to Find Me</h6>
				<p>
					Building A, Something Road<br>
					Mowbray<br>
					Cape Town<br>
					1234
				</p>
			</div> <!-- end cinfo -->

			<div class="cinfo">
				<h6>Email Me At</h6>
				<p>
					claudetteuwiragiye@gmail.com
				</p>
			</div> <!-- end cinfo -->

			<div class="cinfo">
				<h6>Call Me At</h6>
				<p>
					Mobile: (+27) 62 482 8772<br>
					Mobile: (+27) 61 871 1678
				</p>
			</div>

		</div> <!-- end cinfo --> 

	</div> <!-- end row contact-content -->
</section> <!-- end contact -->