 <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="animate-this">Testimonials</h2>
   		</div>   		
   	</div>   	

      <div class="row flex-container">
    
         <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

               <li>
                  <p>
                  I really love the dress that Claudette designed and made for me...
                  </p> 

                  <div class="testimonial-author">
                    	<img src="assets/images/avatars/user-02.jpg" alt="Author image">
                    	<div class="author-info">
                    		Jane Doe
                    		<span class="position">Student, UCT.</span>
                    	</div>
                  </div>                 
             	</li> <!-- end slide -->

               <li>
                  <p>
                  Something about a jacket....
                  </p>

               	<div class="testimonial-author">
                    	<img src="assets/images/avatars/user-03.jpg" alt="Author image">
                    	<div class="author-info">
                    		John Doe
                    		<span>Position</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->

            </ul> <!-- end slides -->

         </div> <!-- end testimonial-slider -->         
        
      </div> <!-- end flex-container -->

   </section> <!-- end testimonials -->